.form-wrapper {
    padding: 3rem 5rem;
}

.editprofile {
    border-left: 20rem solid #FF6839;
}

.editprofile .modified-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3rem;
}

.editprofile .form-group .form-control {
    border: 1px solid #FF6839;
    padding: 2rem 1rem;
}

.editprofile .form-group label {
    font-size: 1rem;
    color: #FF6839;
    top: 100%;
    display: block;
}

.editprofile .small-spacing {
    margin-bottom: 2rem;
}

.editprofile .about-cont .form-control {
    width: 100%;
    height: 20rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.editprofile .about-cont .createdecs {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.8rem;
}

.form-group-wrap .form-group select {
    border: 1px solid #FF6839;
    width: 100%;
    padding: 1rem;
    color: #FF6839;
}

.new-category {
    text-align: right;
    font-size: 1rem;
    padding: 1rem;
}

.new-category a {
    background-color: #00BCD0;
    padding: .5rem 1rem;
    border-radius: 30px;
    font-weight: 600;
    color: #ffffff;
}

.title-box {
    position: relative;
}

@media only screen and (max-width: 587px) {
    .form-wrapper {
        padding: 0rem;
    }
    .editprofile {
        border-left: 2rem solid #FF6839;
    }
    .editprofile .modified-grid {
        display: block;
    }
    .editprofile .form-group label {
        font-size: 1rem;
    }
    .editprofile .about-cont .form-control {
        text-align: left;
        height: 15rem;
        color: #222222;
    }
    .editprofile .about-cont .createdecs {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
    }
    .form-group .form-control::placeholder {
        color: #22222271;
    }
}