header {
    display: grid;
    grid-template-columns: 18rem auto 25rem;
    height: 7rem;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    box-shadow: 0 0 1rem rgba(134, 134, 134, .24);
    z-index: 999;
}

.brand {
    background-color: #FF6839;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.brand .brand-logo {
    height: 4rem;
}

nav {
    border-right: 2px solid #eee;
    padding: .5rem 5rem;
}

nav .fa-plus {
    padding: 1rem;
    background-color: #f7f7f7;
    border-radius: 50%;
}

nav ul,
.user ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav ul li,
.user ul li {
    display: inline-block;
    padding: 0 1rem;
    font-weight: 500;
}

.main-nav ul li a,
.user ul li a {
    text-decoration: none;
    color: #222;
}

.user {
    padding-right: 4rem;
}

.user .thumbnail {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border: 3px solid #f7f7f7;
    border-radius: 20%;
    background-color: #2d1d80;
    cursor: pointer;
    position: relative;
}

/* Dropdown List */

.user .thumbnail .user-dropdown-wraper {
    position: absolute;
    display: none;
    top: 100%;
    padding-top: 1rem;
    right: 1rem;
}

.user-dropdown-wraper .user-dropdown {
    min-width: 20rem;
    min-height: 2rem;
    display: block;
    padding: .5rem 0;
    border-top: 3px solid #FF6839;
    background-color: #ffffff;
    box-shadow: 0px 10px 16px 5px rgba(0, 0, 0, 0.1);
}

.user-dropdown::after {
    content: '';
    position: absolute;
    display: block;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #FF6839;
    top: 0px;
    right: 0;
    z-index: 10;
    transition: all .3s ease-in-out;
}

.user .thumbnail:hover>.user-dropdown-wraper {
    display: block;
}

.thumbnail ul li {
    margin-bottom: .5rem;
    padding: 0;
    display: block;
}

.user .thumbnail ul li a {
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    /* background-color: #f7f7f7; */
    text-align: center;
}

.user .thumbnail ul li a:hover {
    transition: all .3s ease-in-out;
    background-color: #eee;
}

.user .thumbnail .user-dropdown li:last-child {
    margin-bottom: 0;
}

.mobile-show {
    display: none !important;
}

/* Responsiveness Styling*/

@media only screen and (max-width: 587px) {
    header {
        display: grid;
        grid-template-columns: 15rem auto 2rem;
        height: 6rem;
    }
    nav {
        border-right: 0;
        padding: .5rem 1rem;
    }
    .header .main-nav ul {
        justify-content: flex-start;
    }
    .user .thumbnail {
        margin-top: -1rem;
    }
    .user .thumbnail .user-dropdown {
        right: 1rem;
        top: 120%;
    }
    .mobile-hide {
        display: none !important;
    }
    .user {
        padding-right: 1.5rem;
        padding-top: 1rem;
    }
    .mobile-show {
        display: block !important;
    }
}