.info {
    display: grid;
    grid-template-columns: 2fr 1.2fr;
    grid-gap: 2rem;
    background-color: #ffffff;
}

.info .user-image {
    background-color: #FF6839;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 5rem;
}

.user-image-inner {
    text-align: center;
}

.user-image .thumbnail {
    width: 20rem;
    height: 20rem;
    position: relative;
    border-radius: 50%;
    display: inline-block;
    border: 10px solid rgb(255, 255, 255);
    margin-bottom: 1rem;
    overflow: hidden;
}

.user-image .thumbnail img {
    width: 18rem;
    height: 18rem;
}

.profile-image-save-wrap {
    margin: -.5rem 0 2rem;
    text-align: center;
}

.profile-image-save {
    background-color: #ffffff;
    border: 0;
    padding: .2rem 2rem .5rem;
    border-radius: 30px;
    display: none;
    position: relative;
}

.profile-image-save .fa-spinner {
    position: absolute;
    top: 20%;
    left: 35%;
    display: none;
    color: #FF6839;
}

.user-image .thumbnail:hover>.change-image-btn {
    display: flex;
}

#profile-image {
    display: none;
}

.user-image .change-image-btn {
    display: none;
    position: absolute;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #00000073;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.change-image-btn .fa-image {
    color: #ffffff;
    font-size: 2.6rem;
    cursor: pointer;
}

/* Info One */

.info .user-details {
    padding: 8rem 0;
    padding-right: 5rem;
}

.info .user-details h4 {
    margin-bottom: .3rem;
    font-size: 1.4rem;
}

.email,
.tel,
.about {
    margin-bottom: 1rem;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 2rem;
}

.about {
    border-bottom: 0;
}

#about {
    border: 0;
    width: 100%;
    min-height: 7rem;
    resize: none;
    font-size: 1.5rem;
    color: #222222;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

#tel {
    border: 0;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.save-wrap {
    text-align: right;
    display: block;
}

.save {
    background-color: #FF6839;
    border: 0;
    border-radius: 30px;
    padding: .2rem 1.5rem .5rem;
    color: #ffffff;
    margin-top: .5rem;
    display: none;
    position: relative;
}

.save .fa-spinner {
    position: absolute;
    top: 22%;
    left: 35%;
    display: none;
    color: #ffffff;
}

.fa-pencil-alt {
    cursor: pointer;
}

.user-name {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ffffff;
    font-size: 3rem;
    font-weight: 900;
    color: #ffffff;
}

/*Reminder Settings Styling*/

.inner-notsat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    align-items: center;
}

.inner-notsat p b {
    color: #AAAAAA;
}

.inner-notsat .notification-switch {
    text-align: right;
}

.notification-switch .switch-group {
    display: inline-block;
    position: relative;
}

.notification-switch input {
    opacity: 0;
}

.notification-switch label {
    width: 4rem;
    height: 1.5rem;
    background-color: #CCCCCC;
    display: inline-block;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: -200%;
    margin-top: .1rem;
    cursor: pointer;
}

.notification-switch label::after {
    content: '';
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    top: 50%;
    border-radius: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #444;
}

.notification-switch input:checked~label::after {
    background-color: #FF6839;
    left: 50%;
    position: absolute;
}

.inner-notsat .statistics-figure {
    font-size: 3rem;
    line-height: 0;
}

.statistics-figure-wrap .statistics-figure b {
    color: #222;
    font-weight: 600;
}

.statistics-figure-wrap {
    text-align: right;
}

.category-wrap {
    display: inline;
}

.all-categories .items {
    background-color: #200AFC;
    color: #ffffff;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1.5rem;
    border-radius: 30px;
}

.all-categories .items .fa-times-circle {
    cursor: pointer;
}

.add-category .fa-plus {
    padding: 1.2rem;
    background-color: #FF6839;
    border-radius: 50%;
    color: #ffffff;
}

.modal-olay .form-group .errfield {
    color: #3FBF79;
    display: block;
    text-align: center;
}

.modal-olay .form-group .display-payload {
    text-align: center;
    background-color: rgba(255, 103, 57, 0.2);
    margin: 2rem 0;
    padding: 1rem;
}

.total {
    background-color: #ffffff;
    display: inline-block;
    padding: 1rem;
    padding-top: 1.5rem;
}

.total p {
    font-size: 1rem;
    margin-top: 1rem;
}

.total h1 {
    font-size: 4rem;
    color: #FF6839;
}

@media only screen and (max-width: 587px) {
    .info {
        display: block;
    }
    .info .user-details {
        padding: 3rem 0;
        padding-left: 3rem;
    }
    .user-name {
        font-size: 3.5rem;
        line-height: 3.2rem;
    }
}