.auth {
    /* background: linear-gradient(45deg, #ff6839 0%, #2d1d80 85%, #2d1d80 100%) no-repeat center center; */
    /* background: url('../imgs/bgmain.jpg') no-repeat center center; */
    background-color: #ff6839;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.auth-container {
    text-align: center;
    z-index: 10;
}

.auth-inner {
    border-radius: 1rem;
    background: #ffffff;
    padding: 5rem 10rem;
    width: 55rem;
}

.auth-logo {
    width: 20rem;
    margin-bottom: 4rem;
}

.auth-title {
    margin-bottom: 3rem;
}

.auth-title h4 {
    font-size: 2.4rem;
    color: #FF6839;
    margin-bottom: 1rem;
}

.auth-inner button {
    padding: .7em 5rem;
    border-radius: 30px;
    border: 0;
    background-color: #FF6839;
    border: 3px solid rgb(253, 195, 166);
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 600;
    bottom: -10%;
    cursor: pointer;
    margin-top: 5rem;
}

/* Responsiveness Styling*/

@media only screen and (max-width: 587px) {
    .auth-container {
        margin: 3rem 0;
    }
    .auth-inner {
        padding: 0rem 2rem;
        width: 100vw;
        background: none;
    }
    .auth-title {
        margin-bottom: 2.5rem;
    }
    .auth-inner button {
        font-size: 1.4rem;
        padding: 1.3rem 2rem;
        bottom: -7%;
    }
    .small-spacing {
        display: none;
    }
    .a-left {
        text-align-last: center !important;
    }
    .auth-inner .form-group .form-control {
        background: #ffffffb6;
        padding: 3rem;
    }
    .auth-title h4 {
        color: #ffffff;
    }
}